<div class="product-container">
  <div class="d-flex flex-wrap justify-content-md-center inner-container">

    <app-mat-card class="product-card" [title]="'Ttile'" [titleDescription]="'titleDescription'" [cardType]="0" (action)="handleAction($event)"
    ></app-mat-card>
    <app-mat-card class="product-card" [title]="'Ttile'" [titleDescription]="'titleDescription'" [cardType]="0" (action)="handleAction($event)"
    ></app-mat-card>
    <app-mat-card class="product-card" [title]="'Ttile'" [titleDescription]="'titleDescription'" [cardType]="0" (action)="handleAction($event)"
    ></app-mat-card>
    <app-mat-card class="product-card" [title]="'Ttile'" [titleDescription]="'titleDescription'" [cardType]="0" (action)="handleAction($event)"
    ></app-mat-card>
    </div>
</div>