<div class="cart">
    <div class="cart-header">
        <h2>Your Cart</h2>
        <button mat-button mat-dialog-close><mat-icon>close</mat-icon></button>
    </div>

    <h3>List Items: {{cartList.length}} </h3>
    

    <div class="item-list">
        <div *ngFor="let item of cartList">
            <div class="item">
                <mat-dialog-content >
                    <mat-card>
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                        </mat-card-header>
                        <mat-card-content>
                            <a>Model: {{item.model}}</a>
                            <a>Make: {{item.make}}</a>
                            <a>Year: {{item.year_model}}</a>
                            <a>Date added: {{item.date_added}}</a>
                            <a>Price: {{item.price | number : '1.0-0'}}</a>

                            </mat-card-content>
                        <button mat-button (click)="removeItem(item)"><mat-icon>close</mat-icon></button>
                    </mat-card>
                </mat-dialog-content>
            </div>
        </div>
    </div>
    <div class="total-amount"><h3 ng-value="totalPrice">Total Price: {{totalPrice  | number : '1.0-0'}}</h3></div>

</div>

